:root {
    --black: #010103;
    --blue: #1a0883;
    --white: #fff;
    --turquesa: #01C6FD;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3)
}

* {
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    outline: none;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
    transition: 0.2 linear;
    font-family: "Roboto", sans-serif;
    font-size: small;
}

body {
    background-color: var(--black);
}

section {
    /* border: solid red; */
    padding: 3rem 2rem;
    margin: 0 auto;

}

header {
    /* border: solid red; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-image: linear-gradient(#000000, #010101ba);


}

.header section {
    /* border: solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.navbar {
    /* border: solid red; */
    margin-right: 100px;

}

.navbar a {
    /* border: solid red; */
    margin: 0 3rem;
    font-size: 1.5rem;
    color: var(--white);
    transition: 0.5s;
    cursor: pointer;

}

.navbar a:hover {
    color: var(--turquesa);
    border-bottom: solid 0.1rem var(--turquesa);
    font-size: 1.6rem;
}

.logo img {
    /* border: solid red; */
    margin-left: 50px;
    max-height: 80px;

}

.btn {
    background: var(--white);
    color: var(--black);
    padding: 1rem 3rem;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 5px;
    transition: 0.5s;

}

.btn:hover {
    background-color: var(--turquesa);
}

.home-container {
    background: url("/img/direita.lateral-circuit-boards-vetor\ -\ Copia.jpg");
    background-position: center;
    background-size: cover;

}

.home-container section {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.content {
    max-width: 60rem;
    line-height: 4;
    margin-left: 50px;
}

.content h3 {
    color: var(--white);
    font-size: 4rem;

}

.content h4 {
    color: var(--white);
    font-size: 2rem;
}

.content p {
    color: var(--white);
    font-size: 15px;
    line-height: 1.2;
}

.parlax {
    background-image: -moz-element(url);
}

.proj-title {
    border: solid 2px green;
    height: auto;
    color: var(--white);
    text-align: center;
    line-height: 2;
}

.proj-title h4 {
    font-size: 40px;
}

.proj-title p {
    font-size: 17px;
}

.proj-cards {
    /* border: solid red 2px; */
    max-width: 100%;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

}

.cards:hover img {
    opacity: 0.2;
    transform: scale(1.1);
    transition: 0.5s;
    margin: 1.1rem;

}

.cards {
    border: solid 1px var(--turquesa);
    display: inline-block;
    border-radius: 10px;
    width: 30rem;
    height: 30rem;

}

.cards:hover {
    top: 0%;
}

.card-img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    transition: 0.5s;

}

.card-img img {
    max-width: 100%;
    max-height: 300px;
}

.card-txt {
    color: var(--white);
    text-align: center;
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 17px;
    bottom: 0;
    height: 0;
    transition: 0.5s;
    font-size: 17px;


}

.cards:hover .card-txt {
    border: solid red 2px;
    display: block;
    max-width: 100%;
    height: 70%;
    margin-top: -76%;
    position: relative;
}

.card-txt h5 {
    color: var(--white);
    font-size: 30px;
    line-height: 2.5;
}

.card-txt p {
    color: var(--white);
    font-size: 17px;
    line-height: 1.5;
}

.card-txt a {
    padding: 10px;
    background-color: var(--turquesa);
    color: var(--white);
    border-radius: 10px;
    line-height: 7;
}