:root {
    --black: #010103;
    --blue: #1a0883;
    --white: #fff;
    --turquesa: #01C6FD;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3)
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
    transition: 0.2 linear;
    font-family: "Roboto", sans-serif;
    font-size: small;
}

body {
    background-color: var(--black);
}

section {
    /* border: solid red; */
    padding: 3rem 2rem;
    margin: 0 auto;

}

header {
    /* border: solid red; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-image: linear-gradient(#000000, #010101ba);


}

.header section {
    /* border: solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

}

.navbar {
    /* border: solid red; */
    margin-right: 100px;

}

.navbar a {
    /* border: solid red; */
    margin: 0 3rem;
    font-size: 1.5rem;
    color: var(--white);
    transition: 0.5s;
    cursor: pointer;

}

.navbar a:hover {
    color: var(--turquesa);
    border-bottom: solid 0.1rem var(--turquesa);
    font-size: 1.6rem;
}

.logo img {
    /* border: solid red; */
    margin-left: 50px;
    max-height: 80px;

}

.btn {
    background: var(--white);
    color: var(--black);
    padding: 1rem 3rem;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 5px;
    transition: 0.5s;
}

.btn:hover {
    background-color: var(--turquesa);
}

.home-container {
    background: url("/img/direita.lateral-circuit-boards-vetor\ -\ Copia.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;

}

.content {
    max-width: 60rem;
    line-height: 3;
}

.content h3 {
    color: var(--white);
    font-size: 5rem;
}

.content h4 {
    color: var(--white);
}

.content p {
    color: var(--white);
}