:root {
    --black: #010103;
    --blue: #1a0883;
    --white: #fff;
    --turquesa: #01C6FD;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3)
}

* {
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    outline: none;
    text-decoration: none;
    border: none;
    transition: 0.2 linear;
    font-family: "Roboto", sans-serif;
    font-size: small;
    color: var(--white);
}

body {
    background-color: var(--black);
}


section {
    /* border: solid red; */
    padding: 3rem 2rem;
    margin: 0 auto;
}

header {
    /* border: solid red; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-image: linear-gradient(#000000, #010101ba);
}

.header section {
    /* border: solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar {
    /* border: solid red; */
    margin-right: 100px;
}

.navbar a {
    /* border: solid red; */
    margin: 0 3rem;
    font-size: 1.5rem;
    transition: 0.5s;
    cursor: pointer;
}

.navbar a:hover {
    color: var(--turquesa);
    border-bottom: solid 0.1rem var(--turquesa);
    font-size: 1.6rem;
}

.logo img {
    /* border: solid red; */
    margin-left: 50px;
    max-height: 80px;
}

.btn {
    background: var(--white);
    color: var(--black);
    padding: 1rem 3rem;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 5px;
    transition: 0.5s;
    line-height: 5;
    margin: 5px;
}

.btn:hover {
    background-color: var(--turquesa);
}

.home-container {
    background: url("/img/direita.lateral-circuit-boards-vetor\ -\ Copia.jpg");
    background-position: center;
    background-size: cover;
}

.home-container section {
    /* border: solid 2px red; */
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.content {
    /* border: solid 2px red; */
    max-width: 40rem;
    margin-left: 4rem;
}

.content-img {
    text-align: center;
    /* border: solid 2px red; */
}

.content-img img {
    max-width: 25rem;
    border-radius: 200px;
    border: solid 4px var(--turquesa);
}

.content h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.content h4 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.content p {
    font-size: 15px;
    margin-bottom: 3rem;
}

.tecnologies {
    /* border: solid 2px rgb(254, 3, 3); */
    justify-content: center;
    align-items: center;

}

.tecnologies-container {
    /* border: solid 2px rgb(254, 3, 3); */
    max-width: 600px;
    margin-inline: auto;
    display: flex;
    gap: 10px;
    padding: 15px;
    width: max-content;
    overflow: hidden;
    /* background: #43a6cd68; */
}

.tecnologies-container p {
    /* border: solid 2px rgb(254, 3, 3); */
    background: var(--white);
    border-radius: 5px;
    white-space: nowrap;
    width: max-content;
    color: var(--black);
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
}

.tecnologies-container div {
    /* border: solid 2px rgb(16, 254, 3); */
    translate: 0%;
    animation: scrollinfinito 15s linear infinite;
    display: flex;
    gap: 10px;
}


@keyframes scrollinfinito {
    to {
        translate: calc(-50% - 5px);
    }
}

.paralax {
    opacity: 0.5;
    max-width: 100%;
    height: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* border: solid red; */
}

section.paralax:nth-last-of-type(2) {
    background-image: url(/img/gradient-background-transparent-free-png.webp);
}

section.paralax:nth-last-of-type(3) {
    background-image: url(/img/gradient-background-transparent-free-png.webp);
}

.proj-title {
    /* border: solid 2px green; */
    height: auto;
    text-align: center;
    line-height: 2;
}

.proj-title h4 {
    font-size: 40px;
}

.proj-title p {
    font-size: 17px;
    padding: 20px 50px;
}

.proj-cards {
    /* border: solid red 2px; */
    max-width: 100%;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.cards:hover img {
    opacity: 0.2;
    transition: 0.5s;
}

.cards {

    /* border: solid 1px var(--turquesa); */
    display: inline-block;
    border-radius: 10px;
    width: 30rem;
    height: 30rem;
    margin: 15px;
}

.card-img {
    /* border: solid 2px green; */
    transition: 0.5s;
    margin-top: 10%;

}

.card-img img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;

}

.card-txt {
    text-align: center;
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 17px;
    bottom: 0;
    height: 0;
    transition: 0.5s;
    font-size: 17px;
}

.cards:hover .card-txt {
    /* border: solid red 2px; */
    display: block;
    max-width: 100%;
    height: 77%;
    margin-top: -77%;
    position: relative;
}

.card-txt h5 {
    font-size: 30px;
    line-height: 2.5;
}

.card-txt p {
    font-size: 17px;
    line-height: 1.5;
}

.about-img img {
    max-width: 300px;
}

.about {
    /* border: solid 2px red; */
}

.about-box {
    border: solid 1px var(--turquesa);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 30px;
    gap: 20px;
}

.about-txt {
    border: solid 2px red;

}

.about-txt h3 {
    font-size: 30px;
}

.about-txt p {
    margin-top: 15px;
    font-size: 17px;
}

.about-img video {
    border: solid 2px red;
    max-width: 100%;

}

footer {
    display: block;
}


.footer-txt p {
    font-size: 18px;
}

footer .social {
    /* border: solid 2px red; */
    display: grid;
    grid-template-columns: 5vw 5vw 5vw 5vw 5vw;
    padding: 50px 100px;
    gap: 10vw;
    justify-content: center;
}

footer div {
    /* border: solid 2px rgb(0, 72, 255); */
    text-align: center;
    display: grid;
    justify-content: space-around;
    gap: 10px;
    justify-items: center;
    transition: 0.5s;

}

footer .social div:hover img {
    /* border: solid 2px red; */
    height: 109%;
}

footer .social div:hover a {
    /* border: solid 2px red; */
    color: var(--turquesa);
    font-size: 17px;
}

.social img {
    /* border: solid 2px red; */
    text-align: center;
    height: 1fr;
    transition: 0.5s;
}

.social a {
    /* border: solid 2px red; */
    font-size: larger;
    justify-content: center;
    text-align: center;
    transition: all 0.5s;
}

@media screen and (max-width:1050px) {
    body {
        .home-container section {
            grid-template-columns: 1fr;
            text-align: center;
            margin-top: 80px;

        }

        section .content {
            background-color: #0000007e;
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 20px;
        }

    }

    .about-box {
        grid-template-columns: 1fr;
        text-align: center;
        /* flex-direction: column-reverse; */
    }

    .about-txt {
        text-align: left;
    }

    /* .about-img {
            max-width: 1fr;
        } */
}