:root {
    --black: #010103;
    --blue: #1a0883;
    --white: #fff;
    --turquesa: #01C6FD;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3)
}

* {
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    outline: none;
    text-decoration: none;
    border: none;
    transition: 0.2 linear;
    font-family: "Roboto", sans-serif;
    font-size: small;
    color: var(--white);
}

body {
    background-color: var(--black);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
}

header {
    /* border: solid red; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-image: linear-gradient(#000000, #010101ba);
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.hamburguer {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}

.hamburguer::before,
.hamburguer::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: 18px;
    color: #fff;
    padding-block: 16px;
    padding-inline: 20px;
}

.nav-list a:hover {
    color: var(--turquesa);
    border-bottom: solid 0.1rem var(--turquesa);
    transition: 2s;
}

.logo img {
    margin-left: 50px;
    max-height: 80px;
}


.btn {
    background: var(--white);
    color: var(--black);
    padding: 1rem 3rem;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 5px;
    transition: 0.5s;
    line-height: 5;
    margin: 5px;
}

.btn:hover {
    background-color: var(--turquesa);
    font-size: 1.3rem;
}

.home-container {
    /* background: url("/assets/img/wallpaper.jpg"); */
    background-position: center;
    background-size: cover;
}

.home-container section {
    /* border: solid 2px red; */
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.content {
    /* border: solid 2px red; */
    max-width: 40rem;
    margin-left: 4rem;
}

.content-img {
    text-align: center;
    /* border: solid 2px red; */
}

.content-img img {
    max-width: 25rem;
    border-radius: 200px;
    border: solid 4px var(--turquesa);
}

.content h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.content h4 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.content p {
    font-size: 15px;
    margin-bottom: 3rem;
}

.tecnologies {
    /* border: solid 2px rgb(254, 3, 3); */
    justify-content: center;
    align-items: center;
}

.tecnologies-container {
    max-width: 600px;
    margin-inline: auto;
    display: flex;
    gap: 10px;
    padding: 16px;
    width: max-content;
    overflow: hidden;
    /* background: #43a6cd68; */
    mask: linear-gradient(to right, transparent, white 20%, white 80%, transparent);
}

.tecnologies-container p {
    /* border: solid 2px rgb(254, 3, 3); */
    background: var(--white);
    border-radius: 5px;
    white-space: nowrap;
    width: max-content;
    color: var(--black);
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
}

.tecnologies-container div {
    /* border: solid 2px rgb(16, 254, 3); */
    translate: 0%;
    animation: scrollinfinito 15s linear infinite;
    display: flex;
    gap: 10px;
}

@keyframes scrollinfinito {
    to {
        translate: calc(-50% - 5px);
    }
}

.paralax {
    opacity: 0.5;
    max-width: 100%;
    height: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* section.paralax:nth-last-of-type(2) {
    background-image: url(/assets/img/gradient-png.webp);
}

section.paralax:nth-last-of-type(3) {
    background-image: url(/assets/img/gradient-png.webp);
} */

.proj-title {
    height: auto;
    text-align: center;
    line-height: 2;
}

.proj-title h4 {
    font-size: 40px;
}

.proj-title p {
    font-size: 17px;
    padding: 20px 50px;
}

.proj-cards {
    max-width: 100%;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.cards:hover img {
    opacity: 0.2;
    transition: 0.5s;
}

.cards {

    /* border: solid 1px var(--turquesa); */
    display: inline-block;
    border-radius: 10px;
    width: 30rem;
    height: 30rem;
    margin: 15px;
}

.card-img {
    /* border: solid 2px green; */
    transition: 0.5s;
    margin-top: 10%;
}

.card-img img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.card-txt {
    text-align: center;
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 17px;
    bottom: 0;
    height: 0;
    transition: 0.5s;
    font-size: 17px;
}

.cards:hover .card-txt {
    /* border: solid red 2px; */
    display: block;
    max-width: 100%;
    height: 77%;
    margin-top: -77%;
    position: relative;
}

.card-txt h5 {
    font-size: 30px;
    line-height: 2.5;
}

.card-txt p {
    font-size: 17px;
    line-height: 1.5;
}

.about-img img {
    max-width: 300px;
}

.about-box {
    border: solid 1px var(--turquesa);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 30px;
    gap: 20px;
}

.about-txt h3 {
    font-size: 30px;
}

.about-txt p {
    margin-top: 15px;
    font-size: 17px;
}

.about-img video {
    max-width: 100%;

}

footer {
    display: block;
}


.footer-txt p {
    font-size: 17px;
}

footer .social {
    /* border: solid 2px red; */
    display: grid;
    grid-template-columns: 3vw 3vw 3vw;
    /*5vw 5vw 5vw 5vw 5vw; */
    padding: 50px 100px;
    gap: 10vw;
    justify-content: baseline;
}

footer div {
    text-align: center;
    display: grid;
    justify-content: space-around;
    gap: 10px;
    justify-items: center;
    transition: all 0.5s;

}

footer .social div:hover a {
    /* border: solid 2px red; */
    color: var(--turquesa);
    font-size: 17px;
}

/* .social img {
    /* border: solid 2px red; */
/* text-align: center;
height: 1fr;
transition: 0.5s;
}

*/
.social a {
    /* border: solid 2px red; */
    font-size: larger;
    justify-content: center;
    text-align: center;
    transition: all 0.5s;
}

/* --------------------------------------------------------------------- */
@media screen and (max-width:1050px) {
    body {
        .home-container section {
            grid-template-columns: 1fr;
            text-align: center;
            margin-top: 80px;
        }

        section .content {
            background-color: #0000007e;
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 20px;
        }

        .about-box {
            grid-template-columns: 1fr;
            text-align: center;
            /* flex-direction: column-reverse; */
        }

        .about-txt {
            text-align: left;
        }

        .about-img video {
            max-width: 80%;
        }

        /* ---------------------------------------------------------------------- */
        @media screen and (max-width: 750px) {
            .hamburguer {
                display: block;
                z-index: 1;
            }

            .nav-list {
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background: linear-gradient(#000000, #010101dc);
                clip-path: circle(100px at 90% -15%);
                transition: 1s ease-out;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                gap: 0;
                pointer-events: none;
            }

            .navbar .nav-action {
                clip-path: circle(100px at 90% -15%);
                pointer-events: all;
            }

            .nav-list a {
                font-size: 24px;
                opacity: 0;
            }

            .nav-list li:nth-child(1) a {
                transition: 0.5s 0.2s;
            }

            .nav-list li:nth-child(2) a {
                transition: 0.5s 0.4s;
            }

            .nav-list li:nth-child(3) a {
                transition: 0.5s 0.6s;
            }

            .nav.active .nav-list {
                clip-path: circle(1500px at 90% -50%);
                pointer-events: all;
            }

            .nav.active .nav-list a {
                opacity: 1;
            }

            .nav.active .hamburguer {
                position: fixed;
                top: 26px;
                right: 16px;
                border-top-color: transparent;
            }

            .nav.active .hamburguer::before {
                transform: rotate(135deg);
            }

            .nav.active .hamburguer::after {
                transform: rotate(-135deg);
                top: -7px;
            }

            .tecnologies-container {
                max-width: 100%;
            }

            .about-img video {
                max-width: 100%;
            }
        }